<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/style.css' </head>

<body>

    {{>navbar}}

    <div class='container-fluid mt-5'>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class='col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column'>
                        <h1>WE ARE HERE TO HELP!</h1>
                        <h1>SOLVE YOUR PROBLEMS</h1>
                        <p> WE ARE A TEAM OF <span class='bold-style'> Profesional Developers </span> </p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>

                    <div class='col-md-6 col-12 hero-text order-md-0 order-0'>
                        <figure>
                            <img src="images/growth.svg">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class=' text-center mian-heading'> ABOUT </h1>
                <p class='text-center sub-heading'> WE ARE ONLINE 24/7  </p>
                <div class="row">
                   <div class="col-md-6 col-12 hero-text">
                      <figure>
                        <img src="images/about.svg">
                      </figure>
                   </div>

                   <div class='col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column'>
                      <h1> WE ASSIST</h1>
                      <h2> OUR CLIENTS</h2>
                      <p> SEE THEIR <span class='bold-style'> REVIEWS </span> </p>
                      <button class="btn-style btn-primary">Read More</button>
                   </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid mt-5 about-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class=' text-center mian-heading'> Our services </h1>
                <p class='text-center sub-heading'> hahaah </p>
                <div class="row">
                  <div class='col-md-4'>
                    <div class='box'>
                        <div class='our-service settings'>
                            <div class='icon'>
                                <img src='https://i.imgur.com/6NKPrhO.png' class="sett" alt='services'>
                            </div>
                                <h4><em>SETTINGS</em></h4>
                                <p> MUTUAL FUNDS ARE SUBJECTED TO MARKET RISKS PLEASE READ ALL SCHEME RELATED DOCUMENTS CAREFULLY </p>
                        </div>
                    </div>
                  </div>

                  <div class='col-md-4'>
                    <div class='box'>
                        <div class='our-service settings'>
                            <div class='icon'>
                                <img src='https://i.imgur.com/vdH9LKi.png' class="speedup" alt='services'>
                            </div>
                                <h4><em>RECOVERY</em></h4>
                                <p> MUTUAL FUNDS ARE SUBJECTED TO MARKET RISKS PLEASE READ ALL SCHEME RELATED DOCUMENTS CAREFULLY</p>
                        </div>
                    </div>
                  </div>



                  <div class='col-md-4'>
                    <div class='box'>
                        <div class='our-service settings'>
                            <div class='icon'>
                                <img src='https://i.imgur.com/v6OnUqu.png' class="ssl" alt='services'>
                            </div>
                                <h4><em>SSL</em></h4>
                                <p> MUTUAL FUNDS ARE SUBJECTED TO MARKET RISKS PLEASE READ ALL SCHEME RELATED DOCUMENTS CAREFULLY </p>
                        </div>
                    </div>
                  </div>



                  <div class='col-md-4'>
                    <div class='box'>
                        <div class='our-service settings'>
                            <div class='icon'>
                                <img src='https://i.imgur.com/VzjZw9M.png' class="dbms" alt='services'>
                            </div>
                                <h4><em>DATABASE</em></h4>
                                <p> MUTUAL FUNDS ARE SUBJECTED TO MARKET RISKS PLEASE READ ALL SCHEME RELATED DOCUMENTS CAREFULLY</p>
                        </div>
                    </div>
                  </div>



                  <div class='col-md-4'>
                    <div class='box'>
                        <div class='our-service settings'>
                            <div class='icon'>
                                <img src='https://i.imgur.com/vdH9LKi.png' class="backups" alt='services'>
                            </div>
                                <h4><em>BACKUP</em></h4>
                                <p> MUTUAL FUNDS ARE SUBJECTED TO MARKET RISKS PLEASE READ ALL SCHEME RELATED DOCUMENTS CAREFULLY </p>
                        </div>
                    </div>
                  </div>


                  <div class='col-md-4'>
                    <div class='box'>
                        <div class='our-service settings'>
                            <div class='icon'>
                                <img src='https://i.imgur.com/AgyneKA.png' class="privacy" alt='services'>
                            </div>
                                <h4><em>PRIVACY</em></h4>
                                <p>MUTUAL FUNDS ARE SUBJECTED TO MARKET RISKS PLEASE READ ALL SCHEME RELATED DOCUMENTS CAREFULLY </p>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>

   <section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118930.09540499802!2d-157.8691129895422!3d21.328179205747244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00183b8cc3464d%3A0x4b28f55ff3a7976c!2sHonolulu%2C%20HI%2C%20USA!5e0!3m2!1sen!2sin!4v1620331829935!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
   </section>



    {{>contacts}}


 <footer class="page-footer blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <em> ARPANDC </em>
  </div>

</footer>



    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>
